h1  {
	color:white;
	background-color : #073a8c;
	font-size: 70px;
	font-family: 'UnifrakturCook', cursive;
}
*{
margin:0;
padding:0;
}
ul {
    background-color: lightgrey;
    padding: 10px
    
}

li {
    display: inline;
     margin-left: 20px;
     margin-right: 20px;
 }
 a:link {
  text-decoration: none;
}
img{
	padding: 25px;
}
h5{
	color: grey;
}
p{
	margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 150px;
  margin-left: 80px;
font-family: 'Noticia Text', serif;
}
