h1  {
	color:white;
	background-color : #073a8c;
	font-size: 70px;
	font-family: 'UnifrakturCook', cursive;
}
*{
margin:0;
padding:0;
}
ul {
    background-color: lightgrey;
    padding: 10px
}
li {
    display: inline;
     margin-left: 20px;
     margin-right: 20px;
     font-family: 'Noticia Text', serif;
}
a:link {
  text-decoration: none;
  text-decoration-color: none;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}
div.gallery:hover {
  border: 1px solid #777;
}
div.gallery img {
  width: 100%;
  height: auto;
}
div.desc {
  padding: 15px;
  text-align: center;
}

